body {
	font-family: sans-serif;
}

.icicle {
    margin: 10px;
	display: inline-block;
	border: 1px solid #eee;
	padding: 5px;
}

.icicle h3 {
	margin: 0;
	margin-bottom: 10px;
}

.icicle svg {
	/* avoid gaps between rects; there are also no curves to antialias */
	shape-rendering: crispEdges;
}

.icicle .node {
	border-right: 1px solid white;
}

.icicle .highlight-rect {
	fill: transparent;
}

.icicle .highlight-rect:hover {
	fill: rgba(255,255,255,0.1);
}
