@import (less) '../node_modules/highlight.js/styles/default.css';
@import './reset';

body {
	font-family: 'Open Sans',sans-serif;
	font-size: 14px;
}

body, html {
	height: 100%;
}

@sidebar-color: #dadff2;
@header-color: #435cb9;

#header {
	height: 50px;
	background: @header-color;
	color: white;
	line-height: 50px;
}

#header h1 {
	display: inline-block;
	font-size: 16px;
	padding: 0 15px;
}

#clusterings-button {
	background: none;
	border: none;
	color: white;
	padding: 0 15px;
	display: inline-block;
	line-height: 50px;
	position: absolute;
	right: 0;

	&:hover {
		background: rgba(255,255,255,0.2);
		cursor:pointer;
	}

	&.active {
		background: rgba(255,255,255,0.2);
		&:after {
			content: '';
			display: block;
			position: absolute;
			width: 0;
			height: 0;
			top: 50px;
			right: 50%;
			border: 10px solid transparent;
			border-top-color: lighten(@header-color, 10%);
			z-index: 20;
		}
	}
}

#main {
	position: absolute;
	top: 50px;
	left: 0;
	right: 0;
	bottom: 0;
	box-sizing: border-box;
}

@light-color: #eee;
@middle-color: #bbb;
@dark-color: #999;

#icicles,
#source-browser {
	box-sizing: border-box;
	position: absolute;
	bottom: 0;
	top: 0;
	left: 0;
	right: 0;
}

.viz-container {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 20px;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@viz-item-heading-height: 27px;
@viz-item-toolbar-height: 20px;

.viz-item {
    margin-right: 10px;
	display: inline-block;
	border: 1px solid @light-color;
	border-radius: 5px;
	vertical-align: top;
	background: white;
	height: 100%;
	box-sizing: border-box;
	padding-top: @viz-item-heading-height + @viz-item-toolbar-height;

	&.hover {
		box-shadow: 2px 2px 5px rgba(0,0,0,0.5);
	}
}

.viz-item.placeholder {
	border-color: transparent;
}

.viz-item.dragging {
	position: fixed;
	z-index: 10;
	box-shadow: 2px 2px 5px rgba(0,0,0,0.5);
	opacity: 0.7;
	border-color: @middle-color;

	h3 {
		background: @middle-color;
	}
}


.viz-item h3 {
	padding: 5px;
	background: @light-color;
	margin-top: -@viz-item-heading-height - @viz-item-toolbar-height;
	height: @viz-item-heading-height;
	box-sizing: border-box;
	text-align: center;
	cursor: default;
	color: white;
	font-weight: bold;
}

.viz-item .toolbar button {
	width: 100%;
	border: none;
	height: @viz-item-toolbar-height;
	box-sizing: border-box;
	text-align: left;
    background: transparent;
}

.viz-item.with-matrix .matrix-toggle-button:before {
	content: '✓';
	padding-right: 3px;
	display: inline-block;
}

.viz-item.draggable h3 {
  cursor: move;
}

.icicle,
.matrix {
	padding: 5px;
	height: 100%;
	box-sizing: border-box;
	display: inline-block;
}

.matrix:empty:after {
  content: 'Loading ...';
}

.matrix canvas {
	image-rendering: -moz-crisp-edges;
	image-rendering: pixelated;
}

.label-tooltip {
  position: fixed;
  background: rgba(255,255,255,0.9);
  color: black;
  padding: 4px 6px;
  border: 1px solid white;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
  border-radius: 4px;
  z-index: 5;
  margin-left: 3px;
}

#icicles,
#source-browser {
	width: 70%;
	display: inline-block;
}

#icicles {
	overflow: auto;
	white-space: nowrap;
}

#source-browser {
	padding: 20px;

	.source {
		overflow: auto;
		max-height: 100%;
		white-space: pre;
		overflow: auto;
		font-family: monospace;
		font-size: 12px;
		background: transparent;
	}

	#close-source-button {
		position: absolute;
		right: 0;
		top: 0;
	}
}

@sidebar-footer-height: 35px;

.sidebar {
	position: absolute;
	right: 0;
	bottom: 0;
	top: 0;
	display: inline-block;
	box-sizing: border-box;
	width: 29%;
	vertical-align: top;
	background: @sidebar-color;

	&.with-footer {
		padding-bottom: @sidebar-footer-height;
	}
}

.sidebar-body {
	padding: 20px;
	overflow: auto;
	height: 100%;
	box-sizing: border-box;
}

.sidebar-footer {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	height: @sidebar-footer-height;
}

.sidebar h3 {
	margin: 0.8em 0  0.3em;
	line-height: 1.5em;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	font-weight: bold;
}

.sidebar h3:first-child {
	margin-top: 0;
}

#selection-class-list,
#selection-similarity-list {
	max-height: 200px;
	overflow-y: auto;
	overflow-x: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	padding: 0;

	li {
		margin: 0;
		padding: 0;
		list-style: none;
		cursor: pointer;
		padding: 2px;

		&:hover {
			background: rgba(0, 0, 0, 0.1);
		}

	}
}

#selection-similarity-list {
	display: table;
	table-layout: fixed;
	width: 100%;

	li {
		display: table-row;
		border-bottom: 1px solid transparent;

		&.group-divider {
			height: 6px;
		}

		> span {
			display: table-cell;
			border-bottom: 1px solid transparent;
			height: 1.3em;
			vertical-align: middle;
		}

		.percentage-indicator {
			width: 80px;
		}

		.intersection-size:before {
			content: ' = ';
		}

		.union-size:before {
			content: ' / ';
		}

		.intersection-size,
		.union-size {
			width: 40px;
			padding-left: 5px;

			span {
				display: inline-block;
				width: 30px;
				text-align: center;
			}

			.node-title {
				overflow: hidden;
				text-overflow: ellipsis;
			}
		}

		.cluster-size {
			width: 40px;
			text-align: right;
		}

		.node-title {
			overflow: hidden;
			text-overflow: ellipsis;
		}

		&.header {
			cursor: default;

			&:hover {
				background: none;
			}

			.union-size span {
				background: url(../images/union.png) no-repeat center center;
				height: 100%;
			}
			.intersection-size span {
				background: url(../images/intersection.png) no-repeat center center;
				height: 100%;
			}
			.intersection-size:before {
				color: transparent; /* no layout change */
			}
			.cluster-size:after {
				content: '#';
				font-weight: bold;
			}
		}
	}
}

.tiny-barchart {
	position: relative;
	display: inline-block;
	border: 1px solid @dark-color;
	height: 100%;
	width: 100%;
	margin-right: 5px;
}

.tiny-barchart .bar {
	display: inline-block;
	height: 100%;
	background: @dark-color;
}

.tiny-barchart .label {
	position: absolute;
	display: block;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	color: black;
	text-align: center;
	vertical-align: middle;
}


.two-buttons-pane {
	button {
		display: inline-block;
		width: 49%;
		box-sizing: border-box;
		height: 100%;
		color: white;
		border: 0;
		border-right: 1px solid @sidebar-color;
		background: @header-color;
		padding: 0;

		&:hover:not(:disabled) {
			background: lighten(@header-color, 10%);
		}

		&:hover:active:not(:disabled) {
			background: darken(@header-color, 10%);
		}

		&:last-child {
			border-right: 0;
		}

		&:disabled {
			opacity: 0.7;
		}
	}
}

.link-button {
	border: none;
	background: none;
	padding: 0;
	margin: 0;
	color: #435cb9;
	cursor: pointer;
}

.link-button:hover {
	text-decoration: underline;
}

.link-button-list {
	text-align: center;

	button:after {
		content: '·';
		display: inline-block;
		padding-left: 5px;
		padding-right: 5px;
	}

	button:last-child:after {
		display: none;
	}
}

p.small {
  margin-top: 40px;
  font-size: 0.8em;
  opacity: 0.8;
  text-align: center;
}


ol {
  list-style: decimal;
  padding-left: 2em;
}

li, p {
  margin: 0.5em 0;

  &:first-child {
	margin-top: 0;
  }

  &:last-child {
	margin-bottom: 0;
  }
}

.extended-tooltip {
	> span,
	> canvas {
		vertical-align: middle;
	}

	> canvas {
		margin-top: 5px;
		margin-right: 5px;
	}

	.node-name {
		font-weight: bold;
		margin-bottom: 3px;
	}
}

