@import (less) '../node_modules/highlight.js/styles/default.css';

body {
	font-family: sans-serif;
}

.icicle {
    margin: 10px;
	display: inline-block;
	border: 1px solid #eee;
	padding: 5px;
}

.icicle h3 {
	margin: 0;
	margin-bottom: 10px;
}

.icicle svg {
	/* avoid gaps between rects; there are also no curves to antialias */
	shape-rendering: crispEdges;
}

.icicle .node {
	border-right: 1px solid white;
}

.icicle .root.main-rect {
	fill: #000080;
}

.icicle .leaf.main-rect {
	fill: #aaaaff;
}

.icicle .highlight-rect {
	fill: transparent;
}

.icicle .highlight-rect:hover {
	fill: rgba(255,255,255,0.1);
}

.icicle .main-rect.selected-hover {
	fill: rgb(255, 128, 128);
}

.icicle .main-rect.selected-main {
	fill: red;
}


#icicles,
#source-browser {
	width: 70%;
	display: inline-block;
}

#icicles {
	overflow: auto;
	white-space: nowrap;
}

#source-browser {
	position: relative;

	.source {
		white-space: pre;
		overflow: auto;
		font-family: monospace;
		font-size: 12px;
		height: 500px;
	}

	#close-source-button {
		position: absolute;
		right: 20px;
		top: 0;
	}
}

#selection-pane {
	display: inline-block;
	box-sizing: border-box;
	width: 29%;
	padding: 20px;
	height: 100%;
	overflow: auto;
	vertical-align: top;
	background: #eeeeee;
}

#selection-pane h3 {
	margin: 0;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

#selection-class-list,
#selection-similarity-list {
	max-height: 200px;
	overflow-y: auto;
	overflow-x: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	padding: 0;

	li {
		margin: 0;
		padding: 0;
		list-style: none;
		cursor: pointer;
		padding: 2px;

		&:hover {
			background: rgba(0, 0, 0, 0.1);
		}
	}
}
